scival_proj/Scival/XSD/opportunities20.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
     Elsevier shared Grant schema elements
     Version 2.0.0r3
    
     Copyright © 2008-2014 Elsevier B.V.
     This is open access material under the CC BY license (http://creativecommons.org/licenses/by/3.0/).
-->
<!-- 
     Version 2.0.0r3  26 September 2014  [JMi]
     Changes with respect to v2.0.0r2:
     - Added maxOccurs="unbounded" to opportunities/opportunity/dueDate
     - Made element type in complex type OpportunityType of type OpportunitiesFundedProgramsTypeType
            
     Version 2.0.0r2  3 September 2014  [JMi]
     Changes with respect to v2.0.0r1:
     - Added attribute maxOccurs="unbounded" to element opportunity/relatedOpportunities 
     - Added attribute maxOccurs="unbounded" to element opportunity/loiDate
     - Removed elements opportunity/rawText and opportunity/appInfo and attribute opportunity/@newInvestigator
     - Made dueDate mandatory

     Version 2.0.0r1  8 August 2014  [JMi]
     Changes with respect to v1.4.0p1:     
     - Made opportunities/opportunity/dueDate of (new) type dueDateType
     - Added maxOccurs="4" to opportunities/opportunity/dueDate
     - Added opportunities/opportunity/relatedOpportunities of new type RelatedOpportunitiesType

     Version 1.4.0p1  29 January 2014  JMi

     Version 1.4.0  17 January 2014  JMi
     - Made element name of (new) type tns:StringWithLanguageType
       and changed the occurrence indicator
    
     Version 1.2.1  20 August 2012  JMi
     - Added optional element expirationDate
     - Added optional element recordSource
-->

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.elsevier.com/xml/schema/grant/grant-2.0"
    targetNamespace="http://www.elsevier.com/xml/schema/grant/grant-2.0" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!--<include schemaLocation="common20.xsd"/>-->
	<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

    <annotation>
        <documentation> This schema represents many opportunities (also referred to as announcements or opportunities) within SciVal Funding. Author:
            Sanjeev Rao s.rao@paritycomputing.com </documentation>
        <documentation> This version 1.2 of the schema updated by MRu, 30-Dec-10 </documentation>
        <documentation>Further updates to 1.2 in February 2011 and July 2012 (JMi)</documentation>
        <documentation>Version 1.4.0p1 (JMi, 29 January 2014)</documentation>
    </annotation>

    <element name="opportunities" type="tns:OpportunitiesType"/>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="OpportunitiesType">
        <sequence>
            <element name="opportunity" type="tns:OpportunityType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="OpportunityType">
        <sequence>
            <element name="type" type="tns:OpportunitiesFundedProgramsTypeType" nillable="true" minOccurs="0" maxOccurs="1"/>
            <element name="revisionHistory" type="tns:StatusAndRevisionHistoryType" nillable="true" minOccurs="0"/>
            <element name="recordSource" type="string" minOccurs="0">
                <annotation>
                    <documentation>Source used to obtain opportunity information.</documentation>
                </annotation>
            </element>
            <element name="name" type="tns:StringWithLanguageType" maxOccurs="unbounded"/>
            <element name="loiDate" type="date" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="dueDate" type="tns:dueDateType" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
            <element name="dueDateDescription" type="string" nillable="true" minOccurs="0"/>
            <element name="expirationDate" type="date" nillable="true" minOccurs="0"/>
            <element name="eligibilityDescription" type="string" nillable="true" minOccurs="0"/>
            <element name="eligibilityCategory" type="string" nillable="true" minOccurs="0"/>
            <element name="eligibilityClassification" type="tns:EligibilityClassificationType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="estimatedFunding" type="tns:AmountType" nillable="true" minOccurs="0"/>
            <element name="linkToFullText" type="string" nillable="true" minOccurs="0"/>
            <element name="firstPostDate" type="date" nillable="true" minOccurs="0"/>
            <element name="lastModifiedPostDate" type="date" nillable="true" minOccurs="0"/>
            <element name="opportunityStatus" type="tns:OpportunityStatusType" default="active"/>
            <element name="numberOfAwards" type="integer" nillable="true" minOccurs="0"/>
            <element name="duration" type="duration" nillable="true" minOccurs="0"/>
            <element name="awardCeiling" type="tns:AmountType" nillable="true" minOccurs="0"/>
            <element name="awardFloor" type="tns:AmountType" nillable="true" minOccurs="0"/>
            <element name="synopsis" type="tns:MiniRelatedItemsType" nillable="true" minOccurs="0"/>
            <element name="classificationGroup" type="tns:ClassificationGroupType" nillable="true" minOccurs="0"/>
            <element name="keywords" type="tns:KeywordsType" nillable="true" minOccurs="0"/>
            <element name="contactInfo" type="tns:ContactListType" nillable="true" minOccurs="0"/>
            <element name="relatedOpportunities" type="tns:RelatedOpportunitiesType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="relatedPrograms" type="tns:RelatedProgramsType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="relatedFundingBodies" type="tns:MicroRelatedFundingBodiesType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="relatedItems" type="tns:MiniRelatedItemsType" nillable="true" minOccurs="0"/>
            <element name="limitedSubmissionDescription" type="string" nillable="true" minOccurs="0"/>
            <element name="changeHistory" type="tns:ChangeHistoryType" nillable="true" minOccurs="0"/>
        </sequence>
        <attribute name="id" type="integer" use="required"/>
        <attribute name="fundingBodyOpportunityId" type="string" use="required"/>
        <attribute name="limitedSubmission" type="boolean" use="required"/>
        <attribute name="trusting" type="boolean" use="optional"/>
        <attribute name="collectionCode" type="string" use="optional"/>
        <attribute name="hidden" type="boolean" default="false" use="optional"/>
    </complexType>
	<complexType name="AddressType">
        <sequence>
            <element name="room" type="string" minOccurs="0"/>
            <element name="street" type="string" minOccurs="0"/>
            <element name="city" type="string"/>
            <element name="state" type="string" minOccurs="0"/>
            <element name="postalCode" type="string" minOccurs="0"/>
            <element name="country" type="string">
                <annotation>
                    <documentation>Country name as per ISO 3166. There will be no name variations. See
                        http://www.iso.org/iso/country_codes/iso_3166_code_lists/english_country_names_and_code_elements.htm</documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="country" type="tns:CountryCodeType" use="required">
            <annotation>
                <documentation>ISO 3166 country code</documentation>
            </annotation>
        </attribute>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AffiliationsType">
        <sequence>
            <element name="affiliation" type="tns:AffiliationType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AffiliationType">
        <sequence>
            <element name="org" type="string"/>
            <element name="dept" type="string" minOccurs="0"/>
            <element name="startDate" type="date" minOccurs="0"/>
            <element name="endDate" type="date" minOccurs="0"/>
            <element name="address" type="tns:AddressType" minOccurs="0" maxOccurs="unbounded"/>
            <element name="telephone" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <element name="fax" type="string" minOccurs="0" maxOccurs="unbounded"/>
            <element name="email" type="string" minOccurs="0"/>
            <element name="webpage" type="string" minOccurs="0"/>
        </sequence>
        <attribute name="ScopusInstitutionID" type="integer" use="optional"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="AmountDecimalType">
        <restriction base="decimal">
            <fractionDigits value="2"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AmountType">
        <simpleContent>
            <extension base="tns:IntegerAndNotSpecifiedType">
                <attribute name="currency" type="tns:CurrencyType" use="optional" default="USD"/>
            </extension>
        </simpleContent>
    </complexType>
    <simpleType name="IntegerAndNotSpecifiedType">
        <union memberTypes="integer tns:NotSpecifiedType"/>
    </simpleType>
    
    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AwardeeNameType">
        <sequence>
            <element name="indexedName" type="string"/>
            <element name="givenName" type="string" minOccurs="0"/>
            <element name="initials" type="string" minOccurs="0"/>
            <element name="surname" type="string" minOccurs="0"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AwardeesType">
        <sequence>
            <element name="awardee" type="tns:AwardeeType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AwardeeType">
        <sequence>
            <element name="awardeeName" type="tns:AwardeeNameType"/>
            <element name="awardeeInstitution" type="tns:AffiliationsType"/>
        </sequence>
        <attribute name="id" type="string" use="optional"/>
        <attribute name="type" type="tns:AwardeeTypeType" use="required"/>
        <attribute name="ScopusAuthorID" type="integer" use="optional"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="AwardeeTypeType">
        <restriction base="string">
            <enumeration value="PI">
                <annotation>
                    <documentation>Primary Investigator</documentation>
                </annotation>
            </enumeration>
            <enumeration value="coPI">
                <annotation>
                    <documentation>Co Investigator</documentation>
                </annotation>
            </enumeration>
            <enumeration value="investigator">
                <annotation>
                    <documentation>Investigator. PI and coPIs are legally responsible and typically are senior people. An investigator is an
                        acknowledged helping hand who has no legal responsibility.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="institution">
                <annotation>
                    <documentation>An institution as awardee.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AwardManagersType">
        <sequence>
            <element name="awardManager" type="tns:ContactType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="AwardStatisticsType">
        <sequence>
            <element name="totalFunding" type="tns:AmountType" nillable="true" minOccurs="0" maxOccurs="1"/>
            <element name="link" type="tns:LinkType" nillable="true" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="BinaryRelationType">
        <restriction base="string">
            <enumeration value="continuationOf"/>
            <enumeration value="continuedAs"/>
            <enumeration value="similarTo"/>
            <enumeration value="partOf"/>
            <enumeration value="operatedBy"/>
            <enumeration value="grantedBy"/>
            <enumeration value="administeredBy"/>
            <enumeration value="fundedBy"/>
            <enumeration value="sponsoredBy"/>
            <enumeration value="solicitedBy"/>
            <enumeration value="issuedBy"/>
            <enumeration value="mergedWith"/>
            <enumeration value="mergerOf"/>
            <enumeration value="renamedAs"/>
            <enumeration value="formerlyKnownAs"/>
            <enumeration value="jointlyOwnedBy"/>
            <enumeration value="affiliatedWith"/>
            <enumeration value="applicationInfoFor"/>
            <enumeration value="backgroundInfoFor"/>
            <enumeration value="relevantTo"/>
            <enumeration value="acknowledgedBy"/>
            <enumeration value="about"/>
            <enumeration value="isReplacedBy"/>
            <enumeration value="replaces"/>
            <enumeration value="incorporatedInto"/>
            <enumeration value="incorporates"/>
            <enumeration value="splitInto"/>
            <enumeration value="splitFrom"/>
            <enumeration value="originatedFrom"/>
            <enumeration value="formerlyIncluding"/>
            <enumeration value="isRelatedTo"/>
        </restriction>
    </simpleType>
    <simpleType name="OpportunitiesRelationsType">
        <restriction base="tns:BinaryRelationType">
            <enumeration value="isRelatedTo"/>
            <enumeration value="isReplacedBy"/>
            <enumeration value="replaces"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ChangeHistoryType">
        <sequence>
            <element name="change" type="tns:ChangeType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ChangeType">
        <simpleContent>
            <extension base="string">
                <annotation>
                    <documentation>This is the 'before' content, not 'after' content.</documentation>
                </annotation>
                <attribute name="type" type="string" use="required"/>
                <attribute name="postDate" type="date" use="required"/>
                <attribute name="version" type="integer" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ClassificationGroupType">
        <sequence minOccurs="0">
            <element name="classifications" type="tns:ClassificationsType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ClassificationsType">
        <sequence>
            <element name="classification" type="tns:ClassificationType" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="type" type="tns:ClassificationsTypeType" use="required"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="ClassificationsTypeType">
        <restriction base="string">
            <enumeration value="ASJC"/>
            <enumeration value="CFDA"/>
            <enumeration value="INDEL"/>
            <enumeration value="Grants.gov"/>
            <enumeration value="orgSpecific"/>
            <enumeration value="StudySection"/>
            <enumeration value="NIHspendingCategory"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ClassificationType">
        <simpleContent>
            <extension base="string">
                <attribute name="frequency" type="integer" use="required"/>
                <attribute name="code" type="string" use="optional"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="ClassificationTypeIDValues">
        <union memberTypes="tns:ClassificationTypeIDValuesType tns:NotSpecifiedType tns:CountryCodeType"/>
    </simpleType>
    <simpleType name="ClassificationTypeIDValuesType">
        <restriction base="token">
            <enumeration value="degree">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='Ph. D/M.D. other professional'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="disabilities">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='Persons with Disabilities'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="graduate">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='Graduate Student'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="minorities">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='Underrepresented Minorities'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="newfacultv">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='New Faculty/New Investigator'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="norestr">
                <annotation>
                    <documentation>type='citizenship'; eligibilityClassification='No country-related restrictions'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="undergraduate">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='Undergraduate Student'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="women">
                <annotation>
                    <documentation>type='restrictions'; eligibilityClassification='Women'</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ContactListType">
        <sequence>
            <element name="contact" type="tns:ContactType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="ContactType">
        <sequence>
            <element name="contactName" type="tns:VisibleNameType" nillable="true" minOccurs="0"/>
            <element name="title" type="string" nillable="true" minOccurs="0"/>
            <element name="telephone" type="string" nillable="true" minOccurs="0"/>
            <element name="fax" type="string" nillable="true" minOccurs="0"/>
            <element name="email" type="string" nillable="true" minOccurs="0"/>
            <element name="website" type="tns:LinkType" nillable="true" minOccurs="0"/>
            <element name="address" type="tns:AddressType" nillable="true" minOccurs="0"/>
        </sequence>
        <attribute name="type" type="string" use="optional"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="CountryCodeType">
        <restriction base="string">
            <pattern value="[a-z][a-z][a-z]"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <annotation>
        <documentation> This schema represents currencies within the Grants Optimizer. Author: Sanjeev Rao s.rao@paritycomputing.com </documentation>
    </annotation>
    <simpleType name="CurrencyType">
        <restriction base="string">
            <enumeration value="AFN">
                <annotation>
                    <documentation>Afghanistan Afghanis</documentation>
                </annotation>
            </enumeration>
            <enumeration value="AED">
                <annotation>
                    <documentation>United Arab Emirates Dirhams</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ALL">
                <annotation>
                    <documentation>Albania Leke</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ARS">
                <annotation>
                    <documentation>Argentina Pesos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ATS">
                <annotation>
                    <documentation>Austria Schillings</documentation>
                </annotation>
            </enumeration>
            <enumeration value="AUD">
                <annotation>
                    <documentation>Australia Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BBD">
                <annotation>
                    <documentation>Barbados Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BDT">
                <annotation>
                    <documentation>Bangladesh Taka</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BEF">
                <annotation>
                    <documentation>Belgium Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BGN">
                <annotation>
                    <documentation>Bulgaria Leva</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BHD">
                <annotation>
                    <documentation>Bahrain Dinars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BMD">
                <annotation>
                    <documentation>Bermuda Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BRL">
                <annotation>
                    <documentation>Brazil Reais</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BSD">
                <annotation>
                    <documentation>Bahamas Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CAD">
                <annotation>
                    <documentation>Canada Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CHF">
                <annotation>
                    <documentation>Switzerland Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CLP">
                <annotation>
                    <documentation>Chile Pesos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CNY">
                <annotation>
                    <documentation>China Yuan Renminbi</documentation>
                </annotation>
            </enumeration>
            <enumeration value="COP">
                <annotation>
                    <documentation>Colombia Pesos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CRC">
                <annotation>
                    <documentation>Costa Rica Colones</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CYP">
                <annotation>
                    <documentation>Cyprus Pounds</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CZK">
                <annotation>
                    <documentation>Czech Republic Koruny</documentation>
                </annotation>
            </enumeration>
            <enumeration value="DEM">
                <annotation>
                    <documentation>Germany Deutsche Marks</documentation>
                </annotation>
            </enumeration>
            <enumeration value="DKK">
                <annotation>
                    <documentation>Denmark Kroner</documentation>
                </annotation>
            </enumeration>
            <enumeration value="DOP">
                <annotation>
                    <documentation>Dominican Republic Pesos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="DZD">
                <annotation>
                    <documentation>Algeria Dinars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EEK">
                <annotation>
                    <documentation>Estonia Krooni</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EGP">
                <annotation>
                    <documentation>Egypt Pounds</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ESP">
                <annotation>
                    <documentation>Spain Pesetas</documentation>
                </annotation>
            </enumeration>
            <enumeration value="EUR">
                <annotation>
                    <documentation>Euro</documentation>
                </annotation>
            </enumeration>
            <enumeration value="FIM">
                <annotation>
                    <documentation>Finland Markkaa</documentation>
                </annotation>
            </enumeration>
            <enumeration value="FJD">
                <annotation>
                    <documentation>Fiji Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="FRF">
                <annotation>
                    <documentation>France Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="GBP">
                <annotation>
                    <documentation>United Kingdom Pounds</documentation>
                </annotation>
            </enumeration>
           <enumeration value="GRD">
                <annotation>
                    <documentation>Greece Drachmae</documentation>
                </annotation>
            </enumeration>
            <enumeration value="HKD">
                <annotation>
                    <documentation>Hong Kong Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="HRK">
                <annotation>
                    <documentation>Croatia Kuna</documentation>
                </annotation>
            </enumeration>
            <enumeration value="HUF">
                <annotation>
                    <documentation>Hungary Forint</documentation>
                </annotation>
            </enumeration>
            <enumeration value="IDR">
                <annotation>
                    <documentation>Indonesia Rupiahs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="IEP">
                <annotation>
                    <documentation>Ireland Pounds</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ILS">
                <annotation>
                    <documentation>Israel New Shekels</documentation>
                </annotation>
            </enumeration>
            <enumeration value="INR">
                <annotation>
                    <documentation>India Rupees</documentation>
                </annotation>
            </enumeration>
            <enumeration value="IQD">
                <annotation>
                    <documentation>Iraq Dinars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="IRR">
                <annotation>
                    <documentation>Iran Rials</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ISK">
                <annotation>
                    <documentation>Iceland Kronur</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ITL">
                <annotation>
                    <documentation>Italy Lire</documentation>
                </annotation>
            </enumeration>
            <enumeration value="JMD">
                <annotation>
                    <documentation>Jamaica Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="JOD">
                <annotation>
                    <documentation>Jordan Dinars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="JPY">
                <annotation>
                    <documentation>Japan Yen</documentation>
                </annotation>
            </enumeration>
            <enumeration value="KES">
                <annotation>
                    <documentation>Kenya Shillings</documentation>
                </annotation>
            </enumeration>
            <enumeration value="KRW">
                <annotation>
                    <documentation>South Korea Won</documentation>
                </annotation>
            </enumeration>
            <enumeration value="KWD">
                <annotation>
                    <documentation>Kuwait Dinars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="LBP">
                <annotation>
                    <documentation>Lebanon Pounds</documentation>
                </annotation>
            </enumeration>
            <enumeration value="LKR">
                <annotation>
                    <documentation>Sri Lanka Rupees</documentation>
                </annotation>
            </enumeration>
            <enumeration value="LUF">
                <annotation>
                    <documentation>Luxembourg Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MAD">
                <annotation>
                    <documentation>Morocco Dirhams</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MTL">
                <annotation>
                    <documentation>Malta Liri</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MUR">
                <annotation>
                    <documentation>Mauritius Rupees</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MXN">
                <annotation>
                    <documentation>Mexico Pesos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="MYR">
                <annotation>
                    <documentation>Malaysia Ringgits</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NLG">
                <annotation>
                    <documentation>Netherlands Guilders</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NOK">
                <annotation>
                    <documentation>Norway Kroner</documentation>
                </annotation>
            </enumeration>
            <enumeration value="NZD">
                <annotation>
                    <documentation>New Zealand Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="OMR">
                <annotation>
                    <documentation>Oman Rials</documentation>
                </annotation>
            </enumeration>
            <enumeration value="PEN">
                <annotation>
                    <documentation>Peru Nuevos Soles</documentation>
                </annotation>
            </enumeration>
            <enumeration value="PHP">
                <annotation>
                    <documentation>Philippines Pesos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="PKR">
                <annotation>
                    <documentation>Pakistan Rupees</documentation>
                </annotation>
            </enumeration>
            <enumeration value="PLN">
                <annotation>
                    <documentation>Poland Zlotych</documentation>
                </annotation>
            </enumeration>
            <enumeration value="PTE">
                <annotation>
                    <documentation>Portugal Escudos</documentation>
                </annotation>
            </enumeration>
            <enumeration value="QAR">
                <annotation>
                    <documentation>Qatar Riyals</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ROL">
                <annotation>
                    <documentation>Romania Lei</documentation>
                </annotation>
            </enumeration>
            <enumeration value="RON">
                <annotation>
                    <documentation>Romania New Lei</documentation>
                </annotation>
            </enumeration>
            <enumeration value="RUB">
                <annotation>
                    <documentation>Russia Rubles</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SAR">
                <annotation>
                    <documentation>Saudi Arabia Riyals</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SDG">
                <annotation>
                    <documentation>Sudan Pounds</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SEK">
                <annotation>
                    <documentation>Sweden Kronor</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SGD">
                <annotation>
                    <documentation>Singapore Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SIT">
                <annotation>
                    <documentation>Slovenia Tolars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="SKK">
                <annotation>
                    <documentation>Slovakia Koruny</documentation>
                </annotation>
            </enumeration>
            <enumeration value="THB">
                <annotation>
                    <documentation>Thailand Baht</documentation>
                </annotation>
            </enumeration>
            <enumeration value="TND">
                <annotation>
                    <documentation>Tunisia Dinars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="TRY">
                <annotation>
                    <documentation>Turkey New Lira</documentation>
                </annotation>
            </enumeration>
            <enumeration value="TTD">
                <annotation>
                    <documentation>Trinidad and Tobago Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="TWD">
                <annotation>
                    <documentation>Taiwan New Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="USD">
                <annotation>
                    <documentation>United States Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="VEB">
                <annotation>
                    <documentation>Venezuela Bolivares</documentation>
                </annotation>
            </enumeration>
            <enumeration value="VEF">
                <annotation>
                    <documentation>Venezuela Bolivares Fuertes</documentation>
                </annotation>
            </enumeration>
            <enumeration value="VND">
                <annotation>
                    <documentation>Vietnam Dong</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XAF">
                <annotation>
                    <documentation>CFA BEAC Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XAG">
                <annotation>
                    <documentation>Silver Ounces</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XAU">
                <annotation>
                    <documentation>Gold Ounces</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XCD">
                <annotation>
                    <documentation>Eastern Caribbean Dollars</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XDR">
                <annotation>
                    <documentation>IMF Special Drawing Right</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XOF">
                <annotation>
                    <documentation>CFA BCEAO Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XPD">
                <annotation>
                    <documentation>Palladium Ounces</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XPF">
                <annotation>
                    <documentation>CFP Francs</documentation>
                </annotation>
            </enumeration>
            <enumeration value="XPT">
                <annotation>
                    <documentation>Platinum Ounces</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ZAR">
                <annotation>
                    <documentation>South Africa Rand</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ZMK">
                <annotation>
                    <documentation>Zambia Kwacha</documentation>
                </annotation>
            </enumeration>
       </restriction>
    </simpleType>
    <simpleType name="CurrencyAndNotSpecifiedType">
        <union memberTypes="tns:CurrencyType tns:NotSpecifiedType"></union>
    </simpleType>
    
    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="dueDateType">
        <union memberTypes="date tns:OngoingType tns:NotSpecifiedType"/>
    </simpleType>
    
    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="EligibilityClassificationType">
        <simpleContent>
            <extension base="string">
                <attribute name="type" type="tns:TypeIDValuesAndNotSpecifiedType" use="required"/>
                <attribute name="id" type="tns:ClassificationTypeIDValues" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="EstablishmentInfoType">
        <sequence>
            <element name="establishmentDate" type="gYear" nillable="true" minOccurs="0"/>
            <element name="establishmentCity" type="string" nillable="true" minOccurs="0"/>
            <element name="establishmentState" type="string" nillable="true" minOccurs="0"/>
            <element name="establishmentCountryCode" type="tns:CountryCodeType" nillable="true" minOccurs="0">
                <annotation>
                    <documentation>ISO 3166 country code</documentation>
                </annotation>
            </element>
            <element name="establishmentDescription" type="string" nillable="true" minOccurs="0"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="FinancialInfoType">
        <sequence>
            <element name="taxIds" type="tns:TaxIDType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <element name="fiscalCloseDate" type="gMonthDay" nillable="true" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>See http://books.xmlschemata.org/relaxng/ch19-77119.html for examples</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="FundedProgramsTypesType">
        <sequence>
            <element name="fundedProgramsType" type="tns:FundedProgramsTypeType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="FundedProgramsTypeType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="tns:FundingTypeIDsType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <complexType name="OpportunitiesFundedProgramsTypeType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="tns:OpportunitiesFundingTypeIDsAndNotSpecifiedType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    
    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="fundingBodyProgramID">
        <restriction base="string"/>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="FundingBodySubTypeIDsType">
        <restriction base="string">
            <enumeration value="govfed">
                <annotation>
                    <documentation>@type='government'; subType='federal'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="govnon">
                <annotation>
                    <documentation>@type='government'; subType='government non-federal'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="corpor">
                <annotation>
                    <documentation>@type='private sector'; subType='corporate'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="founda">
                <annotation>
                    <documentation>@type='private sector'; subType='foundation'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="othern">
                <annotation>
                    <documentation>@type='private sector'; subType='other non-profit'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="intern">
                <annotation>
                    <documentation>@type='private sector'; subType='international'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="asssoc">
                <annotation>
                    <documentation>@type='private sector'; subType='professional associations and societies'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="academ">
                <annotation>
                    <documentation>@type='private sector'; subType='academic'</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="FundingBodySubTypesType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="tns:FundingBodySubTypeIDsType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>


    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="FundingBodyTypeIDsType">
        <restriction base="string">
            <enumeration value="gov">
                <annotation>
                    <documentation>@type='Government'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="pri">
                <annotation>
                    <documentation>@type='Private sector'</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="FundingTypeIDsType">
        <restriction base="string">
            <enumeration value="career">
                <annotation>
                    <documentation>fundingType='Career Development Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="community">
                <annotation>
                    <documentation>fundingType='Community Service Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="conf">
                <annotation>
                    <documentation>fundingType='Conference/Travel Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="coop">
                <annotation>
                    <documentation>fundingType='Cooperative Agreements/Contracts'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="equip">
                <annotation>
                    <documentation>fundingType='Equipment /Facilities Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="fellow">
                <annotation>
                    <documentation>fundingType='Fellowships'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="project">
                <annotation>
                    <documentation>fundingType='Program Project/Center Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="research">
                <annotation>
                    <documentation>fundingType='Research Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="training">
                <annotation>
                    <documentation>fundingType='Training Grants'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="nonmon">
                <annotation>
                    <documentation>fundingType='Non-monetary Awards'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="prize">
                <annotation>
                    <documentation>fundingType='Prizes'</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="OpportunitiesFundingTypeIDsType">
        <restriction base="string">
            <enumeration value="artistic">
                <annotation>
                    <documentation>fundingType='Artistic Pursuit'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="conf">
                <annotation>
                    <documentation>fundingType='Meeting or conference or seminar'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="construction">
                <annotation>
                    <documentation>fundingType='Facility Construction or Operation'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="contract">
                <annotation>
                    <documentation>fundingType='Contract or Tender'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="coop">
                <annotation>
                    <documentation>fundingType='Collaboration or Cooperative Agreement Agreements/Contracts'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="dissthesis">
                <annotation>
                    <documentation>fundingType='Dissertation or Thesis'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="equip">
                <annotation>
                    <documentation>fundingType='Equipment or Materials Acquisition or facility Use'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="postaward">
                <annotation>
                    <documentation>fundingType='Postdoctoral Award'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="program">
                <annotation>
                    <documentation>fundingType='Program or Curriculum Development or Provision'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="prize">
                <annotation>
                    <documentation>fundingType='Prize or award'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="publishing">
                <annotation>
                    <documentation>fundingType='Publishing or Editorial'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="research">
                <annotation>
                    <documentation>fundingType='Research'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="training">
                <annotation>
                    <documentation>fundingType='Training, scholarship, or fellowship'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="travel">
                <annotation>
                    <documentation>fundingType='Travel'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="visit">
                <annotation>
                    <documentation>fundingType='Visiting Personnel'</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="OpportunitiesFundingTypeIDsAndNotSpecifiedType">
        <union memberTypes="tns:OpportunitiesFundingTypeIDsType tns:NotSpecifiedType"></union>
    </simpleType>
    
    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="HierarchyType">
        <restriction base="string">
            <enumeration value="lead"/>
            <enumeration value="component"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="KeywordsType">
        <sequence minOccurs="0">
            <element name="keyword" type="string" maxOccurs="unbounded"/>
        </sequence>
        <attribute ref="xml:lang" use="optional" default="en"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="LinkType">
        <simpleContent>
            <extension base="string">
                <attribute name="url" type="string" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="MicroOrgBodyType">
        <simpleContent>
            <extension base="string">
                <attribute name="orgDbId" type="integer" use="required"/>
                <attribute name="relType" type="tns:BinaryRelationType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="MicroOpportunityListItemType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="integer" use="required"/>
                <attribute name="relType" type="tns:OpportunitiesRelationsType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>
    <complexType name="MicroProgramListItemType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="integer" use="required"/>
                <attribute name="relType" type="tns:BinaryRelationType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="MicroRelatedFundingBodiesType">
        <sequence minOccurs="0">
            <element name="org" type="tns:MicroOrgBodyType" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="hierarchy" type="tns:HierarchyType" use="optional"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="MiniRelatedItemsType">
        <sequence>
            <element name="item" type="tns:MiniRelatedItemType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="MiniRelatedItemType">
        <sequence>
            <element name="link" type="tns:LinkType"/>
            <element name="description" type="string" nillable="true" minOccurs="0"/>
        </sequence>
        <attribute name="relType" type="tns:BinaryRelationType" use="optional"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="OpportunityStatusType">
        <restriction base="string">
            <enumeration value="active"/>
            <enumeration value="inactive"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="PercentageType">
        <restriction base="double">
            <minInclusive value="-100.00"/>
            <maxInclusive value="100.00"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="ProgramStatusType">
        <restriction base="string">
            <enumeration value="active"/>
            <enumeration value="expired"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="RelatedOpportunitiesType">
        <sequence>
            <element name="relatedOpportunity" type="tns:MicroOpportunityListItemType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="RelatedProgramsType">
        <sequence minOccurs="0">
            <element name="relatedProgram" type="tns:MicroProgramListItemType" maxOccurs="unbounded"/>
        </sequence>
        <attribute name="hierarchy" type="tns:HierarchyType" use="optional"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="RevisionDateType">
        <simpleContent>
            <extension base="dateTime">
                <attribute name="version" type="integer" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="simpleAddressType">
        <simpleContent>
            <extension base="string">
                <attribute name="country" type="tns:CountryCodeType" use="optional"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="SponsoringProgramType">
        <simpleContent>
            <extension base="string">
                <attribute name="id" type="integer" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <annotation>
        <documentation> This schema represents status and revision history of various types within the Grants Optimizer. Author: Sanjeev Rao
            s.rao@paritycomputing.com </documentation>
    </annotation>
    <complexType name="StatusAndRevisionHistoryType">
        <sequence>
            <element name="revisedDate" type="tns:RevisionDateType" minOccurs="0"/>
            <element name="createdDate" type="tns:RevisionDateType"/>
        </sequence>
        <attribute name="status" type="tns:StatusType" use="required"/>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="StatusType">
        <annotation>
            <documentation> If StatusAndRevisionHistoryType/RevisionDateType/version == 1, status = 'new'. If version greater than 1, status =
                'update'. </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="new"/>
            <enumeration value="update"/>
            <enumeration value="delete"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="StringWithLanguageType">
        <simpleContent>
            <extension base="string">
                <attribute ref="xml:lang" use="optional" default="en"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="SubTypesType">
        <sequence>
            <element name="subType" type="tns:FundingBodySubTypesType" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="TaxIDType">
        <simpleContent>
            <extension base="string">
                <attribute name="type" type="tns:TaxIdTypeType" use="required"/>
            </extension>
        </simpleContent>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="TaxIdTypeType">
        <restriction base="string">
            <enumeration value="us/EIN"/>
            <enumeration value="in/PAN"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="TypeIDValues">
        <restriction base="string">
            <enumeration value="citizenship">
                <annotation>
                    <documentation>@type='citizenship'</documentation>
                </annotation>
            </enumeration>
            <enumeration value="restrictions">
                <annotation>
                    <documentation>@type='restrictions'</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="TypeIDValuesAndNotSpecifiedType">
        <union memberTypes="tns:TypeIDValues tns:NotSpecifiedType"/>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="TypeValues">
        <restriction base="string">
            <enumeration value="academic rank"/>
            <enumeration value="academic degree"/>
            <enumeration value="restrictions"/>
        </restriction>
    </simpleType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <complexType name="VisibleNameType">
        <sequence>
            <element name="prefix" type="string" minOccurs="0"/>
            <element name="givenName" type="string"/>
            <element name="middleName" type="string" minOccurs="0"/>
            <element name="surname" type="string"/>
            <element name="suffix" type="string" minOccurs="0"/>
        </sequence>
    </complexType>

    <!-- oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
    <simpleType name="NotSpecifiedType">
        <restriction base="string">
            <enumeration value="not-specified"/>
        </restriction>
    </simpleType>
    <simpleType name="OngoingType">
        <restriction base="string">
            <enumeration value="ongoing"/>
        </restriction>
    </simpleType>
</schema>
